.drawer_social_container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.drawer_social_container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drawer_social_container button {
  margin: 0;
  padding: 0;
}

.footer_social_container {
  display: flex;
  align-items: center;
}

.footer_social_container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer_social_container button {
  margin: 0;
  padding: 0;
}

.header_social_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_social_container ul {
  display: flex;
  flex-direction: row;
}

.header_social_container button {
  margin: 0;
  padding: 0;
}

.header_social_container .icon {
  font-size: 40px;
}
.header_social_container .custom_icon {
  width: 40px;
  height: 40px;
}

.custom_icon {
  color: whitesmoke !important;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  padding-left: 10px;
}

.icon {
  color: whitesmoke !important;
  font-size: 60px;
  margin: 0 10px;
  padding-left: 10px;
}

@media (max-width: 800px) {
  .custom_icon {
    margin: 0 0;
    width: 48px;
    height: 48px;
  }
  .icon {
    margin: 0 0;
    font-size: 48px;
  }
}
