.past_events_container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.past_events_card {
  display: flex;
  width: 100%;
  border: #f1f1f1 solid 3px;
  overflow: hidden;
  border-radius: 12px;
}

.crsl {
  height: 100%;
  display: flex;
  flex: 0.8;
  background-color: #f1f1f1;
  align-items: center;
  cursor: zoom-in;
}

.past_event_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  min-height: 350px;
}

.past_event_content h3 {
  margin: 0px;
  font-size: 20px;
  text-align: center;
}
.past_event_content h4 {
  display: flex;
  flex-direction: column;
  margin: 6px 0 6px 0;
  font-size: 16px;
  background-color: #f1f1f1;
  color: #1b1b1b;
  padding: 5px;
  border-radius: 12px;
  text-align: center;
}
.past_event_content h4 span {
  font-family: "Fauna One", Serif;
  font-weight: lighter;
}

.block_content p {
  margin: 10px;
  text-align: justify;
  font-size: 12px;
}

.button_container {
  display: flex;
  justify-content: center;
}

.calendar-button {
  height: 100px;
  width: 100px;
}

@media (max-width: 800px) {
  .past_event_content h3 {
    font-size: 16px;
  }
  .past_event_content h4 span {
    font-size: 14px;
  }
  .block_content p {
    margin: 4px;
    font-size: 12px;
    font-weight: lighter;
  }
}
