.order_online_button {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_online_button .button {
  color: whitesmoke !important;
  font-family: "Cinzel", Cursive !important;
  background-color: #1a1a1a;
  border: 2px solid whitesmoke;
  border-radius: 25px;
  text-transform: none;
  font-weight: 700;
  font-size: 20px;
  padding: 0 20px;
  margin: 10px 0;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
}

.order_online_button_drawer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_online_button_drawer .button {
  font-family: "Cinzel", Cursive !important;
  color: whitesmoke;
  background-color: #1a1a1a;
  border: 1px solid whitesmoke;
  border-radius: 25px;
  text-transform: none;
  font-weight: 700;
  font-size: 16px;
  padding: 0 14px;
  margin: 20px 0;
}

.coming_soon .coming_soon_post {
  display: none;
}
.coming_soon:hover .coming_soon_pre {
  display: none;
}
.coming_soon:hover .coming_soon_post {
  display: inline;
}
